ADD ITEM TO TABLE:
<form name='item' ng-submit='ctrl2.addItem()'>
	<md-input-container class="md-block">
		<input placeholder='id' required type='number' name='id' ng-model='ctrl2.newItem.id'>
	</md-input-container>
	<md-input-container class="md-block">
		<input placeholder='meno' required type='text' name='name' ng-model='ctrl2.newItem.name'>
	</md-input-container>
	<md-input-container class="md-block">
		<input placeholder='výplata' required type='text' name='salary' ng-model='ctrl2.newItem.salary'>
	</md-input-container>
	<md-input-container class="md-block">
		<input placeholder='obľúbená farba' required type='text' name='color' ng-model='ctrl2.newItem.color'>
	</md-input-container>
	<md-input-container class="md-block">
		<input placeholder='email' required type='email' name='email' ng-model='ctrl2.newItem.email'>
	</md-input-container>
	<md-button type='submit' class='md-primary md-raised'>ADD</md-button>
</form>