﻿<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>CRUD APP</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="styles/angular-material.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="styles/global.css">
		<link rel="stylesheet" href="styles/animate.min.css" rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css' />
	</head>
	<body ng-app='app' ng-controller="mainCtrl as vm">

		<md-whiteframe class='md-whiteframe-4dp' id='content'>
			<md-whiteframe class='md-whiteframe-4dp' id='header'>
				<h1>{{header}}</h1>
			</md-whiteframe>
			<div id='filter'>
				FILTER: <input type='text' ng-model='filterText'>
				{{filterText}}
			</div>
			<!--
			<div id='addItem'>
				ADD USER TO TABLE:
				<form name='item' ng-submit='vm.addItem()'>
					<md-input-container class="md-block">
						<input placeholder='id' required type='number' name='id' ng-model='newItem.id'>
					</md-input-container>
					<md-input-container class="md-block">
						<input placeholder='meno' required type='text' name='name' ng-model='newItem.name'>
					</md-input-container>
					<md-input-container class="md-block">
						<input placeholder='výplata' required type='text' name='salary' ng-model='newItem.salary'>
					</md-input-container>
					<md-input-container class="md-block">
						<input placeholder='obľúbená farba' required type='text' name='color' ng-model='newItem.color'>
					</md-input-container>
					<md-input-container class="md-block">
						<input placeholder='email' required type='email' name='email' ng-model='newItem.email'>
					</md-input-container>
					<md-button type='submit' class='md-primary md-raised'>ADD</md-button>
				</form>
			</div>
			-->
			
			<div add-user id='addItem'></div>

			<div id='itemHolder'>
				<div id='header'>
					<p class='hItem' ng-click='orderItems("id")'> id </p>
					<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
					<p class='hItem' ng-click='orderItems("name")'> Name </p>
					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
					<p class='hItem' ng-click='orderItems("salary")'> Salary </p>
					<span class="sortorder" ng-show="predicate === 'salary'" ng-class="{reverse:reverse}"></span>
					<p class='hItem' ng-click='orderItems("email")'> e-mail </p>
					<span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
				</div>

				<div ng-repeat='user in users | filter:filterText | orderBy :predicate:reverse' class='repeatedItem'>
					<div class='informations'>
						<div class='property' ng-style="{'background': user.color}">{{user.id}}.</div>
						<div class='property'>{{user.name}}</div>
						<div class='property'>{{user.salary}} €</div>
						<div class='property'>{{user.email}}</div>
					</div>
						<md-button class='md-primary' ng-click='vm.editItem($index)'>UPRAVIT</md-button>
						<md-button class='md-warn remove' ng-click='vm.removeItem(user)'>ZMAZAŤ</md-button>
					<div class='edit' ng-show='itemEdited ==$index'>
						<md-input-container class="md-block">
							<input placeholder='{{user.id}}' required type='number' name='name' ng-model='user.id'>
						</md-input-container>
						<md-input-container class="md-block">
							<input placeholder='{{user.name}}' required type='text' name='name' ng-model='user.name'>
						</md-input-container>
						<md-input-container class="md-block">
							<input placeholder='výplata' required type='text' name='salary' ng-model='user.salary'>
						</md-input-container>
						<md-input-container class="md-block">
							<input placeholder='obľúbená farba' required type='text' name='color' ng-model='user.color'>
						</md-input-container>
						<md-input-container class="md-block">
							<input placeholder='email' required type='email' name='email' ng-model='user.email'>
						</md-input-container>
						<md-button class='md-primary' ng-click='vm.saveItem(user)'>ULOZIT</md-button>
					</div>
				</div>
			</div>
		</md-whiteframe>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/angular-material.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	</body>
</html>
