#content {
  position: absolute;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  height: 100%;
  padding: 20px; }
  #content #filter {
    position: relative;
    width: 100%;
    margin-bottom: 50px; }
  #content #addItem {
    position: relative;
    display: inline-block;
    width: 250px; }
  #content #itemHolder {
    position: relative;
    display: inline-block;
    width: 500px;
    float: right; }
    #content #itemHolder #remove {
      position: relative;
      float: right; }

/*# sourceMappingURL=crud.css.map */
