$warning: #c67449;

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

#content{
	position: absolute;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	padding: 20px;
	#header{
		position: relative;
		width: 100%;
		height: 50px;
		.hItem{
			display: inline-block;
			margin-left: 50px;
			cursor: pointer;
			&:focus{
				outline:none;
			};
			&:nth-child(1){
				margin-left: 15px;
			};
		}
	}
	#filter{
		position: relative;
		width: 100%;
		margin-bottom: 50px;	
	}
	#addItem{
		position: relative;
		display: inline-block;
		width: 250px;
	}
	#itemHolder{
		position: relative;
		display: inline-block;
		width: 700px;
		float: right;
		border: 1px solid;
		padding: 5px;
		.repeatedItem{
			border-bottom: 1px solid green;
			padding-top: 5px;
			&:last-child {
				border-bottom: none;
			};
		}
		.remove{
			position: relative;
			float: right;
			margin: 0px;
		}
		.informations{
			position: relative;
			text-align: left;
			width: 490px;
			height: 40px;
			display: inline-block;
			div:nth-child(1){
				width: 25px;
			}
			.md-button{
				margin: 0px;
				padding: 0px;
			}
			.property{
				position: relative;
				display: inline-block;
				margin-left: 10px;
				padding-left: 5px;
				&:nth-child(2){
					width: 110px;
				};
				&:nth-child(3){
					width: 70px;
				};
			}
		}
		.edit{
			padding: 20px;
		}
	}
}