.sortorder:after {
  content: '\25b2'; }

.sortorder.reverse:after {
  content: '\25bc'; }

#content {
  position: absolute;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  padding: 20px; }
  #content #header {
    position: relative;
    width: 100%;
    height: 50px; }
    #content #header .hItem {
      display: inline-block;
      margin-left: 50px;
      cursor: pointer; }
      #content #header .hItem:focus {
        outline: none; }
      #content #header .hItem:nth-child(1) {
        margin-left: 15px; }
  #content #filter {
    position: relative;
    width: 100%;
    margin-bottom: 50px; }
  #content #addItem {
    position: relative;
    display: inline-block;
    width: 250px; }
  #content #itemHolder {
    position: relative;
    display: inline-block;
    width: 700px;
    float: right;
    border: 1px solid;
    padding: 5px; }
    #content #itemHolder .repeatedItem {
      border-bottom: 1px solid green;
      padding-top: 5px; }
      #content #itemHolder .repeatedItem:last-child {
        border-bottom: none; }
    #content #itemHolder .remove {
      position: relative;
      float: right;
      margin: 0px; }
    #content #itemHolder .informations {
      position: relative;
      text-align: left;
      width: 490px;
      height: 40px;
      display: inline-block; }
      #content #itemHolder .informations div:nth-child(1) {
        width: 25px; }
      #content #itemHolder .informations .md-button {
        margin: 0px;
        padding: 0px; }
      #content #itemHolder .informations .property {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        padding-left: 5px; }
        #content #itemHolder .informations .property:nth-child(2) {
          width: 110px; }
        #content #itemHolder .informations .property:nth-child(3) {
          width: 70px; }
    #content #itemHolder .edit {
      padding: 20px; }

/*# sourceMappingURL=global.css.map */
